{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% load static %}
{% block content %}
       
        

    
                

    <div class="container py-5">
      

        <div class="jumbotron">
          <h1>welcome</h1>
          <h4>{{request.user.first_name}} {{request.user.last_name}} </h4>
          <h4>{{request.user.email}}  </h4>
          {% for i in stu %}
          <br>
          <h3>Your Profile </h3><br>
          <img src="{{i.simage.url}}" style="width:70px;height:100px"> <br>  
          <h6>{{i.Studentname}} </h6> 
          <h6>{{i.Gender}} </h6>
          <h6>{{i.DOB}} </h6>
          <h6>{{i.Grade}} </h6>
          <h6>{{i.email}} </h6>
          <h6>{{i.contactno}} </h6> <br><br>
          <h3>Your Mentor </h3> 
          <img src="{{i.Grade.tutor.timage.url}}"style="width:70px;height:100px"> <br>   
          <h6 >{{i.Grade.tutor}}</h6>
          <h6 >{{i.Grade.tutor.Qualification}}</h6>
          <h6 >{{i.Grade.tutor.email}}</h6>
          <h6 >{{i.Grade.tutor.contactno}}</h6><br><br>
          <h3>Assignments </h3><br>
          <img src="{{i.Grade.questionpaper.url}}" style="width:500px;height:850px"> 
         
          {% endfor %}
        </div>
        </div>
        

            
{%  endblock content %}